*{
    margin: 0;
    padding: 0;
}
/* body{
    flex-direction: column;
    justify-content: space-between;
} */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(163, 163, 163);
    background-color: brown; 
}
.logo{
    margin: 5px;
}

.logout{
    margin-right: 8px;
    width: 100px;
    height: 30;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 600px;
    background-color: aqua;
    align-items: stretch;
}

.corpo{
    display:flex;
    background-color: cornflowerblue;
    align-items: stretch;
    background-color: brown;
}
.menu-esq{
    width: 20vw;
    background-color: rgb(155, 155, 155);
    padding: 5px;
}
.menu-center{
    width: 61.5vw;
    background-color: rgb(255, 255, 255);
    align-items: center;
    text-align: justify;
    padding: 5px;
}

.menu-dir{
    width: 15vw;
    background-color: rgb(155,155,155);
    padding: 5px;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
    border: 1px solid rgb(0, 0, 0);  
    padding: 10px;
    background-color: brown;
}

.cards-pai{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    padding: 5px;
    
}
.card{
    margin: 5px;
    text-align: center;
    border-radius: 5%;
    border: 2px solid black;
    margin-bottom: 35px;
}
.img{
    border-radius: 5%;
}
